{% extends 'back/base.html.twig' %}
{% block body%}

    <h1> Ajoute Ticket</h1>



    {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}



    <table>
        <tr>
            <td> {{ form_label(form.num_ticket,"Numéro Ticket ")}} </td>
            <td>{{ form_widget(form.num_ticket) }}</td>
            <td> {{ form_errors(form.num_ticket) }}</td>

        </tr>
        <tr>
            <td> {{ form_label(form.ref_match,"Réference Match")}} </td>
            <td>{{ form_widget(form.ref_match) }}</td>
            <td> {{ form_errors(form.ref_match) }}</td>

        </tr>
        <tr>
            <td> {{ form_label(form.num_place,"numero de place ")}} </td>
            <td>{{ form_widget(form.num_place) }}</td>
            <td> {{ form_errors(form.num_place) }}</td>

        </tr>
        <tr>
            <td> {{ form_label(form.disp,"Disponibilité ")}} </td>
            <td>{{ form_widget(form.disp) }}</td>
            <td> {{ form_errors(form.disp) }}</td>

        </tr>
    </table>
    {{ form_end(form) }}

    </div>

{% endblock %}